# filesystem aliases
alias l="ls -h"
alias ll="l -lh"
alias lla="l -lah"

# git aliases
alias gst="git status"
alias gco="git checkout"
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gcm="git commit -m"
alias gcl="git clone"
alias gd="git diff"
alias gl="git pull"
alias gp="git push"
alias glg="git log --stat --decorate"

# k8s
alias kcl="kubectl"
alias kclga="kubectl get all"

# used for tracking dotfiles
# https://www.atlassian.com/git/tutorials/dotfiles
alias config="$(which git) --git-dir=$HOME/.cfg/ --work-tree=$HOME"

# fzf live repl
# https://github.com/pawelduda/fzf-live-repl
alias fzfp="fzf --print-query --preview-window bottom,90 --preview"

